<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <div id="main-lyric-plot">
        <svg id = "lyrics-scatterplot-svg"></svg>
        <div class="lyrics-tooltip" style= "position: absolute; left: 15%; width: 450px; height: 400px; padding: 5px; border-radius: 10px; background-color: rgb(0,0,0,0.03);">
            <div style = "margin: 0 auto; width: fit-content; border: 0.5px solid black; font-size: 1.1em; font-family: 'Caveat', cursive;" id = "lyric-tooltip-title">For playlist Name's [#] songs</div>
            <!-- <div style = "margin: 0 auto; width: fit-content; border: 0.5px solid black; font-size: 1.1em;">For <span id = "lyric-tooltip-playlist-name"></span>'s <span id = "lyric-tooltip-song-num"></span> songs</div> -->
            <div style = "display: flex; margin: 10px 0px; border-radius: 10px; position: relative; width: 100%; height: 30%; background-color: floralwhite;">
                <div style = "position: relative; width: 35%; height: 100%;" class = "lyric-donut-chart">
                    <canvas style = "margin: 5px auto 0 auto;" id="doughnutChart"></canvas>
                </div>
                <div style = "position: relative; overflow: scroll; width: 65%; height: 100%; display: flex; flex-direction: column;">
                    <div style = "font-size: 0.75em; margin-top: 10px; margin: 10px auto 0 auto; font-family: 'Caveat', cursive;">Top Thematic Clusters</div>
                    <div style = "display: flex;">
                        <ul style = "padding-left: 10px; margin: 5px 0px; list-style-position: inside; font-size: 0.7em;" id = "lyric-cluster-list-1"></ul>
                        <ul style = "padding-left: 10px; margin: 5px 0px; list-style-position: inside; font-size: 0.7em;" id = "lyric-cluster-list-2"></ul>
                    </div>
                   
                </div>
            </div>
            <div style = "display: flex; margin: 5px 0px; position: relative; width: 100%; height: 25%;">
                <div style = "position: relative; display: flex; flex-direction: column; margin: 0 auto;justify-content: space-around; width: 40%; height: 100%; top: -10px;">
                    <div style = "position: relative; width: 90%; height: 15%; margin: 0 auto;">
                        <div style = "font-size: 0.6em; opacity: 0.65;">
                            <span style = "position: relative;left: 2%; font-style: italic;">x</span>
                            <span style = "position: relative;left: 75%;"id = "lyric-x-coord"></span>
                        </div>
                        <div class = "progress-bar-container">
                            <div class = "progress-bar"></div>
                        </div>
                    </div>
                    <div style = "position: relative; width: 90%; height: 15%; margin: 0 auto;">
                        <div style = "font-size: 0.6em; opacity: 0.65;">
                            <span style = "position: relative;left: 2%; font-style: italic;">y</span>
                            <span style = "position: relative;left: 75%;" id = "lyric-y-coord"></span>
                        </div>
                        <div class = "progress-bar-container">
                            <div class = "progress-bar"></div>
                        </div>
                    </div>
                    <div style = "position: relative; width: 90%; height: 15%; margin: 0 auto;">
                        <div style = "font-size: 0.6em; opacity: 0.65;">
                            <span style = "position: relative;left: 2%; font-style: italic;">confidence level</span>
                            <span style = "position: relative; left: 43%;" id= "lyric-confidence-level"></span>
                        </div>
                        <div class = "progress-bar-container">
                            <div class = "progress-bar"></div>
                        </div>
                    </div>
                </div>
                <div style = "position: relative; width: 55%; height: 100%; display: flex; flex-direction: column; justify-content: center; align-items: center;">
                    <div style = "font-size: 0.5em; font-style: italic; margin: 0 auto; width: fit-content; position: relative; top: -5px;">lyric verse</div>
                    <div style = "border-radius: 5px; background-color: rgba(0,0,0,0.02); text-align: center; font-size: 0.5em; height: 30%; width: 95%; display: flex; justify-content: center; align-items: center; margin-bottom: 10px;"><span id="lyrics-stanza"></span></div>
                    <div style = "border-radius: 5px; background-color: rgba(0,0,0,0.02); text-align: center; font-size: 0.7em; height: 35%; width: 95%;">
                        <span style = "top: 20%; font-size: 0.8em; position:relative;" id="cluster-string"></span>
                        <span  style = "top: 20%; font-size: 0.8em; position:relative;" id="lyrics-song-name"></span> 
                        <span style = "font-style: italic; font-size: 0.8em; top: 20%; position:relative;" id="lyrics-artist-name"></span>
                    </div>
                </div>
            </div>
            <div style = "display: flex; top: -5px; margin: 5px 0px; position: relative; width: 100%; height: 30%;">
                <div style = "position: relative; margin-left: 20px; width: 30%; height: 100%; background-color: rgba(220, 244, 202,0.3); border-radius: 10px; top: 10px;">
                    <div style = "font-size: 0.6em; width: fit-content; margin: 0 auto; font-style: italic; margin-top: 5px;">Cosine Similiarity</div>
                    <svg style = "position: relative; width: 100%; height: 100%; top: -15px;">
                        <circle id="circle-foreground" style = "margin: 0 auto; fill: none; stroke-width: 10px; stroke-linecap: round; transform: rotate(-90deg); transform-origin: 50% 50%; stroke-dasharray: 251.32; stroke-dashoffset: 251.32; transition: stroke-dashoffset 0.8s ease-out;" cx="57" cy="57" r="40"/>
                        <text id="circle-percentage" x="50%" y="55%" text-anchor="middle" dy=".3em" font-size="15px" fill="black"></text>
                    </svg>
                </div>
                <div style = "position: relative; width: 65%; height: 110%;">
                    <canvas style = "margin: 0 auto;" id="areaChart"></canvas>
                </div>
            </div>
        </div>
    </div>
    <script src = "../static/lyrics_plot_test.js"></script>
    <style>
        .progress-bar-container {
            height: 60%;
            border-radius: 2rem;
            position: relative;
            overflow: hidden;
            transition: all 0.5s;
            will-change: transform;
            box-shadow: 0 0 1px #e76f51;
            width: 100%;
        }
        .progress-bar {
            position: absolute;
            height: 100%;
            width: 0%;
            content: "";
            background-color: #e76f51;
            top: 0;
            bottom: 0;
            /* left: -100%; */
            border-radius: inherit;
            display: flex;
            justify-content: center;
            align-items:center;
            color: white;
            font-family: sans-serif;
        }
    </style>
</body>
</html>